/* General Styles */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Container */
.about-container, .skills-container, .projects-container, .contact-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

/* About Section */
.about-section {
    text-align: center;
    padding: 40px 20px;
}

.about-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 18px;
    color: #fff;
}

/* Home Section */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000; /* Pure black */
    height: 100vh;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
}

.home .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

/* Section Styles */
.section {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: #000; /* Black background for all sections */
    color: #fff;
}

footer {
    background-color: #00FF7F;

     /* Match the header color */
}
 #contact{
    color: black;
    font-size: 20px;

 }
 
 
 .text-3xl font-bold mb-4{
    font-size: 20px;

 }
 #contact{
    color: #fff;
 }
 .space-x-4 button{
    background-color: #00FF7F;
    color: #000;
    
    
 }
